.example-spacer {
    flex: 1 1 auto;
  }

  span{
    margin-left:550px;
    font-size:40px;
  }

  .main{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 550px; 
    background-color: black;
    opacity:0.7;
  }

  .main div a{
    text-decoration: none;
    color:white;
    
  }