<div class="full">
    <img src="assets\icons\bg1.jpg" class="img">
<div style="padding-bottom: 1px;">       </div>
    <div class="box1">
        <p style="color:white;text-align: center; font-size: 70px;">Contact Us </p>
        <p style="margin-left: 58px;">-----------------------------------------------------------------------------------------</p>
        <div class="contact">
            <a  style=" display: inline-block;" href="https://www.google.com/maps/place/Infomatics+Corp/@12.884003,74.863412,18z/data=!4m6!3m5!1s0x3ba35beff0c7461d:0x5e2ddf75bf4a2f63!8m2!3d12.8840032!4d74.8634116!16s%2Fg%2F11kqs99qzs?hl=en&entry=ttu">
                <img src="assets\icons\location.jpg" ></a>
                <p>Premier Corner, nantoor, mangaluru-57003</p>
        </div>
        <div class="contact">
            <a  style=" display: inline-block;">
                <img src="assets\icons\phone.jpg" ></a>
                <p>6360249073</p>
        </div>
        <div class="contact">
            <a  style=" display: inline-block;">
                <img src="assets\icons\mail.jpg" ></a>
                <p>hroffshore@infomaticscorp.com</p>
        </div>
        <div class="contact">
            <a  style=" display: inline-block;" href="https://infomaticscorp.com/">
                <img src="assets\icons\globe.jpg" ></a>
                <p>infomaticscorp.com</p>
        </div>
       

    </div>
    </div>
