<div class="full">
    <img src="assets\icons\bg1.jpg" class="img">
    <div class="main">
        <h1 class="title" style="padding-top:40px">
            Welcome to Splendify - Your Expense Tracker
        </h1>
        <div class="box1">
         <p >Splendify is the ultimate solution for individuals looking to effortlessly manage their expenses. With a plethora of intuitive features and an incredibly user-friendly interface, gaining control over your finances has never been simpler or more accessible.

            Imagine a tool that empowers you to track every dollar spent, categorize expenses with ease, and gain valuable insights into your spending habits. That's exactly what Splendify offers. Whether you're a seasoned budgeting pro or just starting on your financial journey, Splendify is designed to make managing your money a breeze.
            
            One of the key highlights of Splendify is its intuitive interface, which allows users to log their expenses quickly and efficiently. With just a few clicks, you can input the amount, category, and description of your expense, ensuring that every detail is captured accurately.
            
            But Splendify doesn't stop there. It goes above and beyond by providing users with the ability to set monthly budgets for various spending categories. This feature helps you stay on track and avoid overspending, giving you peace of mind knowing that your financial goals are within reach.
            
            Additionally, Splendify offers insightful reports and visualizations that break down your spending patterns. 
            
            Security is also a top priority for us at Splendify. Your financial data is encrypted and securely stored, ensuring that your information remains confidential and protected at all times.
            
            In summary, Splendify is more than just an expense tracker – it's a financial companion that empowers you to make informed decisions about your money. </p>
            <p style="font-size: 20px; text-align: center;">Start your journey to financial wellness today with Splendify 💰</p>
        </div>
    </div>
<br>
    <div class="footer">
   <p><b>&copy; Spendify CRUD Application</b></p>
    </div>
</div>

