.img {
    position: absolute;
    height:500px;
    width:500px;
    margin-left: 850px;
    z-index: -1;
  }
  
  .main {
    position: relative;
    z-index: 1;
  }

//   .full{
//     display:flex;
//   }

  