.img {
    position: absolute;
    height:556px;
    width:100%;
    z-index: -1;
  }
  
  .main {
    position: relative;
    z-index: 1;
  }

//   .full{
//     display:flex;
//   }

.title{
  text-align: center;
  font-family:'Snell Roundhand, cursive';
  font-size: 65px;
  padding-bottom:15px;
 
}

.box1{
  background-color: black;
  color:white;
  margin-left:200px;
  margin-right:200px;
 opacity:0.7;
 padding:50px 100px 40px 100px;
 border: 2px solid rgb(90, 194, 197);
 border-radius: 50px;
 text-align: justify;
}

.footer{
  margin-bottom: 0px;
  background-color: rgb(90, 194, 197);
  height:40px;
}

.footer p{
  text-align: center;
  padding-top:10px;
  
}

  