<html>

<body>
  <h1 class="arrow"> Click here to add Expense Details --><mat-icon class="addProduct" (click)="openDialog()">add_circle</mat-icon></h1>

 <form  [formGroup]="submitIncome">
 
   <div><input  type="number" formControlName="income" placeholder="Enter the total income" ><br/></div> 
    <button (click)="income()">Submit</button>
  
</form> 
<br/>
<h2 class="income">Your Income is: {{totalincome |currency:'INR' }}</h2>
  

<mat-accordion style="color:white">
  <mat-expansion-panel class="main" style="color:white" *ngFor="let row of dataSource.data">
    <mat-expansion-panel-header>
      <mat-panel-title style="font-size:18px; ">
      <strong style="color:white; margin-left:210px;"> Expense type:  {{row.productType}}</strong>
      </mat-panel-title>
      <mat-panel-description >
        <!-- <p style="color:white; padding-right:0px;">Details of the Expenses</p>> -->
      </mat-panel-description>
    
    </mat-expansion-panel-header>
    <p ><u>Expense Name</u> : {{row.productName}} </p>
    <br>
    <p><u>Date</u>: {{row.date | date}} </p>
    <br>
    <p><u>Cost</u>: {{row.price | currency:'INR' }} </p>
    <br>
    <p><u>Description</u>: {{row.content}} </p>
    <br>
    <mat-icon style="margin-left:270px; cursor: pointer;" (click)="updateExpense(row)">edit</mat-icon>
    <mat-icon style="margin-left:30px;cursor: pointer;" (click)="deleteExpense(row.id)">delete</mat-icon>

  </mat-expansion-panel>
</mat-accordion>
<br>
<br>


<h2 class="expenditure">Your Expenditure is:  {{ totalSum | currency:'INR'  }}</h2>
<h2 class="saved">Your Saving is :{{saving|currency:'INR' }}</h2>


</body>
</html>